* {
    box-sizing: border-box;
}

body {
    background: #35dc9b;
    font-family: sans-serif;
}

h1, h2, h3 {
    color: white;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

a, a:active, a:focus, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

form {
    display: table;
    margin: 1em auto;
}

label {
    position: relative;
    display: block;
}

input, textarea {
    display: block;
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

textarea {
    font-family: sans-serif;
    height: 12em;
}

input::placeholder, textarea::placeholder {
    transition: color 0.2s;
    color: #999;
}

input:focus, textarea:focus {
    padding-top: 28px;
    padding-bottom: 12px;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

input:focus + span, textarea:focus + span {
    opacity: 1;
    top: 10px;
}

span {
    color: #35dc9b;
    position: absolute;
    top: 0px;
    left: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

input[type="submit"] {
    transition: all 0.2s ease-in-out;
    border: none;
    background: #1aaf75;
    color: #fff;
    padding: 16px 40px;
}
