<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Quote</title>
        <link rel="stylesheet" href="/assets/new.css">
    </head>
    <body>
        <form method="post" action="/new">
            <h3><a href="/">« Back to index</a></h3>
            <h1>New Quote</h1>

            <label>
                <textarea name="body" placeholder="Quote text"></textarea>
                <span>Quote</span>
            </label>

            <label>
                <input name="authors" placeholder="Authors, comma separated">
                <span>Authors</span>
            </label>

            <input type="submit" value="Save">
        </form>
    </body>
</html>
